.slide { 
    position: relative;
    justify-items: center;
    align-items: center;
    background-color: rgba(247,247,247,255);
    width: 70vw;
    aspect-ratio: 1.78/1; /* 1920*1080 */
    margin:1%;
    padding: 3%
}
#page1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bottomHr {
    position: absolute;
    width: 90%;
    left: 5%;
    bottom: 10%;
    aspect-ratio: 1.5/1;
    border-bottom-style: solid;
}